/*article grid*/
article {
	display: grid;
	grid-template-columns: 1fr 0.5in [start] 1.25in 5in 1.25in [end] 0.5in 1fr;
			
	height: 100vh;
				
	padding: 0.5in 0;
}
		
article * {
	grid-column: start / end;
}
		
@media (max-width: 8.5in){
	artcle {grid-template-columns: 1fr 5% [start] 15% 60% 15% [end] 5% 1fr;}
}

/*article text*/



/*article images*/

.size-small  { grid-column: 4 / 5; }
.size-medium { grid-column: 3 / 6; }
.size-large  { grid-column: 2 / 7; }
.size-jumbo  { grid-column: 1 / 8; }

img.size-small, img.size-medium, img.size-large, img.size-jumbo {width: 100%}