#bottom-border {
	height: 15px;
	background-color: gold;
	position: -webkit-sticky;
	position: sticky;
 	top: 0;
	z-index: 3;
}
#toplinks div {
	display: inline;
	margin-left: 1em;
	margin-right: 1em;
}
#toplinks {
	position: -webkit-sticky;
	position: sticky;
 	top: 15px;
	background-color: transparent;
	height: 90px;
	font-family: 'Rokkitt', serif;
	font-size: 1000%;
	font-weight: 500;
	text-align: center;
}
#edge {
	margin-top: 10px;
	float: left;
	width: 70px;
}
.fa-instagram:hover {
	color: gray;
}
.fa-twitter:hover {
	color: gray;
}
.fa-tumblr:hover {
	color: gray;
}
.babymoon {
	padding-top: 10px;
	height: 70px;
	opacity: 0;
}
#about {
	margin-top: 10px;
	float: right;
}
#about:hover {
	color: gray;
	text-decoration: line-through;
}
#wordmark-white {
	padding: 10px;
	position: fixed;
	bottom: 0px;
	right: 0px;
}
#wordmark-rainbow {
	padding: 10px;
	position: fixed;
	bottom: 0px;
	right: 0px;
	opacity: 0;
}
#wordmark-white:hover #wordmark-rainbow {
	opacity: 1;
}
.responsive {
	width: 100%;
	max-width: 550px;
	height: auto;
}
#boxlinks {
	padding: 10px;
	height: 30px;
	width: 100%;
	position: fixed;
	z-index: 1;
	margin-right: auto;
	margin-top: auto;
	bottom: 0px;
	margin-left: auto;
	color: #EFF0D2;
	background-color: black;
	font-size: 30px;
	font-family: 'Bebas Neue', cursive;
}
#store {
	position: relative;
	height: auto;
	width: auto;
	padding-left: 50px;
	margin-right: auto;
	margin-bottom: 0px;
	margin-left: auto;
	float: left;
}
#store:hover {
	color: #f89fb2;
	text-decoration: line-through;
}
#blog {
	position: relative;
	height: auto;
	width: auto;
	padding-left: 7px;
	margin-right: auto;
	margin-bottom: 0px;
	margin-left: auto;
	float: left;
}
#blog:hover {
	color: greenyellow;
	text-decoration: line-through;
}
#design {
	position: relative;
	height: auto;
	width: auto;
	padding-left: 7px;
	margin-right: auto;
	margin-bottom: 0px;
	margin-left: auto;
	float: left;
}
#design:hover {
	color: lightskyblue;
	text-decoration: line-through;
}
#playlists {
	position: relative;
	height: auto;
	width: auto;
	padding-left: 7px;
	margin-right: auto;
	margin-bottom: 0px;
	margin-left: auto;
	float: left;
}
#playlists:hover {
	color: tomato;
	text-decoration: line-through;
}
#contact {
	position: relative;
	height: auto;
	width: auto;
	padding-left: 7px;
	margin-right: auto;
	margin-bottom: 0px;
	margin-left: auto;
	float: left;
}
#contact:hover {
	color: darkorange;
	text-decoration: line-through;
}
#vote {
	position: relative;
	height: auto;
	width: auto;
	padding-left: 7px;
	margin-right: auto;
	margin-bottom: 0px;
	margin-left: auto;
	float: left;
}
#vote:hover {
	color: gold;
	text-decoration: line-through;
}