.home {
    margin: auto;
}
@media screen and (min-width: 975px) {
    div.blogposts {
      width: 75%;
      padding-bottom: 50px;
    }
  }
 @media screen and (max-width: 974px) {
    div.blogposts {
      width: 90%;
    }
}
.blogposts {
    margin: auto;
    font-family: 'Rokkitt', serif;
    text-transform: lowercase;
    color: #16161d;
}
.postheader {
    font-family: 'Rokkitt', serif;
    margin: auto;
    padding-bottom: 15px;
}
@media screen and (min-width: 975px) {
    div.posttitle {
      font-size: 30px;
    }
  }
@media screen and (max-width: 974px) {
    div.posttitle {
      font-size: 30px;
    }
}
.posttitle {
    font-weight: normal;
    font-family: 'Bebas Neue', cursive;
}
.posttag {
    margin-top: -10px;
    font-size: 20px;
    font-weight: bold;
}
.postdate {
    margin-top: -5px;
    font-size: 15px;
    font-weight: bold;
}
.blogsections {
    font-family: 'Rokkitt', serif;
}
p {
    margin-bottom: 15px;
}